<mat-card>
    <mat-card-header><h1>Categoria</h1></mat-card-header>
    <mat-card-content>
      <form id="formulario1" name="formulario1" method="post" action="data.php">
        <div class="form-content">
          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Id">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="Precio">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Descripcion">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>BarCode</mat-label>
            <input matInput placeholder="BarCode">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>CategoriaId</mat-label>
            <input matInput placeholder="CategoriaId">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
        </div>
  
  
      </form>
    </mat-card-content>
  </mat-card>