<mat-card>
    <mat-card-header><h1>Categoria</h1></mat-card-header>
    <mat-card-content>
      <form #form="ngForm">
        <div class="form-content">
          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input
              matInput
              placeholder="Id"
              name="id"
              [ngModel]="model.id"
              >
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input
              matInput
              placeholder="Valor"
              name="valor"
              [ngModel]="model.valor"
              >
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>
        </div>


      </form>
    </mat-card-content>
  </mat-card>

  <!-- Mi objeto modelo, transformalo en json e imprimelo en html -->
  ESTE ES EL MODELO
  <pre>{{model|json}}</pre>

  <hr>
  ESTE ES EL FORMULARIO
  <pre>{{form.value|json}}</pre>
