<p>productos works!</p>
<div id="contenedor">
	<h2 id="encabezado">Productos</h2>
	<form id="formulario1" name="formulario1" method="post" action="data.php">
	    <br> ID: <br>
		<input type="text" name="ID" id="ID">
		<br> Precio:<br>
		<input type="text" name="Precio" id="Precio">
		<br> Descripcion:<br>
		<input type="text" name="Descripcion" id="Descripcion" >
		<br> BarCode:<br>
		<input type="text" name="BarCode" id="BarCode">
        <br> CategoriaId: <br>
		<input type="text" name="CategoriaId" id="CategoriaId">
	</form>
</div>	